* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-terciary: #9CA3AF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --ff: "Inter", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-block: 1.5rem;

    font: 500 1rem/1.4 var(--ff);
    color: var(--content-primary);
    background-color: var(--background-primary);

}

img {
    max-width: 100%;
}

ul[role="list"] {
    list-style: none;
    margin-block: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    /* max-width: 15rem; */
    /* overflow-y: auto; */

}


.desktop-only {
    display: none;
}

img.desktop-only {
    width: 10rem;
    height: auto;
    margin-bottom: 5rem;
}


main {
    max-width: 39rem;
    width: 100%;
    padding-inline: 2rem;

}

a {
    position: relative;

    font-size: 0.875rem;
    font-weight: 500;

    text-decoration: none;
    color: var(--color-brand);
}

a:hover {
    color: var(--color-brand-hover);
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-brand-hover);
    transition: width 0.3s ease;
}

a:hover::before {
    content: '';
    width: 100%;
}

main h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 2.75rem;
}

input[type="text"] {
    appearance: none;
    padding: 0.75rem 1.1rem;

    border-radius: 0.75rem;
    border: 2px solid var(--border-primary);

    font-size: 1rem;

    transition: border-color 200ms linear;
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--color-brand);
}

input[type="checkbox"] {
    appearance: none;

    width: 1rem;
    height: 1rem;

    border: 2px solid var(--border-primary);
    border-radius: 0.40rem;

    transition: background-color 200ms linear, border-color 200ms linear;
}

input[type="checkbox"]:checked {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    background-image: url('assets/check.svg');
}


.button {
    all: unset;

    background-color: var(--color-brand);
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    border-radius: 0.75rem;
    text-align: center;

    color: white;

    transition: background-color 200ms linear;
}

.button:hover {
    background-color: var(--color-brand-hover);
}

li {
    background-color: var(--background-secondary);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;

    padding: 1rem 0.8rem;

    gap: 1rem;
}

li button {
    all: unset;
    margin-left: auto;
}

li button img {
    width: 1rem;
    height: 1rem;
    display: block;
}

button:hover img {
    filter: invert(50%) grayscale(100%);
    cursor: pointer;
}

label {
    color: var(--content-secondary);
    line-height: 20px;
    font-weight: 600;
}

.alert {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--color-danger);
    color: white;

    padding: 0.75rem;

    border-radius: .75rem;
}

.alert img {
    width: 1.25rem;
    height: 1.25rem;
}

.alert button {
    all: unset;
    margin-left: auto;
    transition: color 20ms linear;
}

.alert button:hover {
    color: #B9C2D0;
    cursor: pointer;
}

.hide {
    display: none;
}

@media screen and (min-width: 50em) {
    main form {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .desktop-only {
        display: initial;
    }
}